
body{
    margin:0;
}
.header{
    
    height:50px;
    background-image:linear-gradient(90deg,rgb(114, 6, 6),rgb(56 13 40),rgb(206 160 48),rgb(51 53 3) );
    
}

.header_navbar-list{
    display:flex;
    list-style: none;
    padding-left: 20px;
    padding-right:20px ;
}
.header_navbar{
    display:flex;
    justify-content: space-between;
}
.header_navbar-item{
    margin:0 20px;
    display:inline-block;
    color:white;
    position:relative;

    
}
.a{
    font-size: large;
}
.header_navbar-item-link{
    color:white;
    text-decoration: none;
}
.header_navbar-item-logo{
    padding-top:10px;
    padding-right:200px;
    text-align: center;
    margin-top:-10px;
    box-sizing: border-box;
    height:100%vh;
    width:auto;
}
.header_navbar-item:hover,
.header_navbar-item-link:hover{
    
    cursor:pointer;
    color: rgba(255,255,255, 0.7);

}
.doanvan2{
    margin-top: 29px;
}
.logomini{
    position:absolute;
    width:50px;
    height:40px;
    top:-61px;
    right:-329px;
}
.icon{
    margin-right: 10px;
    font-size:16px;
}
.grid_column{
    
}

.danhsach{
    margin-left: 100px;
    padding:0;
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin:0 10px;
    position:relative;
    top: -101px;
    left:50px;
}
.danh_muc_in_hoa{
   
   
    margin-top:0;
    margin-left: 10px;
    margin-bottom: 0;
    top:50px;
    
}
.sanpham2{
    
   
    
}
.sanpham:hover,
.link_san_pham:hover{
    background:#450B20;
    
    cursor:pointer;
    color:#C0890B;
}
.sanpham2 link_san_pham {
    color:#8cc8d0;

}

.link_san_pham{
    font-weight:550;
    text-decoration: none;
    color:rgb(160, 20, 20);}

.container{
    transition: all 0.3s ease;
    width: 100%;
    position:fixed; 
    top:70px;
    z-index: 1000;
    display:block;
    height:50px;
   margin-top: -20px;
  background-color: #e0d9d1;}
.container.small{
       
        margin-top:-70px;
        padding:-10px 0;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional shadow */
    
}

h3{
    font-family:;
}
.hinhlogo{
    box-sizing: border-box;
    z-index: 2;
    width:90px;
    height:115px;
    position:relative;
    top:-2px;
    left:40px;
}
.trangchinh{
    box-sizing: border-box; 
   
}
.hinh:hover{
    transform:scale(1.1);
    transition:all 0.5s ease-in-out;

}
.hinh{
    animation:ease-in-out 2s infinite;
    box-sizing: border-box;
  
    margin-top:-327px;
   
    width:100%;
    height:581px;

}
h2{
    font-size:15px;
}
h1{
    font-family:'Courier New', Courier, monospace;
   color:#ebb63a;
    font-size: 36px;
}
    

}
.chutieude{
    color:white;
    margin-top: 230px;
    text-align: center;
    z-index:3;
    position: relative;
 }
.gioithieu{
    box-sizing: border-box;
   
    margin-left:50px;
    margin-right: 50px;
}
.chu::before,
.chu::after{
    content:url('callary-icon.png');}
.datlich-text:after,
.datlich-text:before{
    content:url('callary-icon.png');
}

.chu{
    font-size: 40px;
}
hr{
    width:50%;
}
.hinhuudai{
    border:20px solid white;
    width:38%;
    height:auto;
    border-radius:50px;
    
}
.haihinh{
    display:flex;
    justify-content: center;
    font-size:20px;
}
.haihinh:hover,.hinhcuoi:hover,.hinhcuoi1:hover{
    transform:scale(1.1);
    transition:all 0.5s ease-in-out;

}
.chu{
    font-family:'Courier New', Courier, monospace;
}
.title{
    font-size:21px;
}
.sanhcuoi{
    display:flex; 
    justify-content: center;

}
.hinhsanhcuoi{
    
    width:44%;
    height:auto;
}
.about{
    
   
    justify-items: center;
}
.chunghieng{
    text-align: center;
    margin-top: -15px;
}
.hinhhoa{
   
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.trangtri{
    position:absolute;
    color:white;
    margin-top: -77px;
    margin-left: 270px;
    font-size: 30px;
    font-weight: 500;
}
.mauhongnhat{
    width: 100%;
    height: 140px;
    position: absolute;
    left:0;
    pointer-events: none;
    background: linear-gradient(45deg,#f06496,#8cc8d0);
    opacity: .6;
}
.kieutrangtri{
    
    margin:0px 50px 0px 50px;}
.ndlienhe{
    text-align: center;
}
.hinhtrangtri1,
.hinhtrangtri2{
    animation:ease-in-out 2s infinite;
   border:40px solid transparent;
    width:50%;
    height:453px;
    
}
.hinhtrangtri1:hover,.hinhtrangtri2:hover,.hinhphale1:hover,.hinhphale2:hover,
.hinhst11:hover,.hinhst1:hover{
    transform:scale(1.1);
    transition:all 0.5s ease-in-out;
}
.hinhtrangtri{
    display:flex;
    margin:0 20px 0 20px;
    
}


   
   
   

.chutrangtri1,
.chutrangtri2,
.chutrangtri3,
.chutrangtri31,
.chutrangtri4{
   font-size: larger;
}
.phale1,
.phale2{
    display:flex;
}
.phale2{
    margin-top: 30px;
}

.chutrangtri1{
   
    font-size: large;
    border-right: 50px solid transparent;
    border-top:20px solid transparent;
}
.chutrangtri2{
    border-left:66px solid transparent;

}

.hinhphale1,
.hinhphale2{
    animation:ease-in-out 2s infinite;
   border:40px solid transparent;
    width:48%;
    height:auto;
}
.hinhphale2{
    margin-top: 20px;
}
.chantrang{ 
    box-sizing: border-box;

}
.thongtinlienhe{
    display:flex;
    justify-content:space-evenly;
  }  
.linkdc,.linksdt,.linkemail{
  text-decoration: none;
  color:black;

}
.thongtin{
    padding:0;
    font-size: larger;
    list-style:none;
}
.lienhengay{
    
    

}
.lienhe{
    background-color: #FFF3F7;
   background-image:url(pngtree-contact-us-button-vector-png-image_7508756.png);  
   background-size:225px 46px;
    background-repeat: no-repeat;
    background-position: 127px ;
    text-align: center;
    object-fit:contain;
}
.inhoa{

    margin-left: 169px;
    font-size: larger;
}
.diachi-sdt{
    margin-top: 20px;
}
.bando{
    width:26px;
    height:24px;
    margin-left: -4px;
}
.ndsweety{
    
    display:flex;
    justify-items: center;
    justify-content: space-around;
     align-items: center;

}
.hinhst1,.hinhst11
{   
    border-radius:50px;
    margin-bottom: 10px;
    margin-left:10px;
    width:450px;
    height:auto;
}

.hinhst11{
    margin-left: 55px;
}    

.hinhst{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.chutrangtri31{
    border-left: 0;
}
.chutrangtri3,
.chutrangtri31
{
    border:60px inset transparent;
}
.hinhphale2,
.hinhphale1
{
    border:10px solid #EBDEF6;
    width:38%;
    height:auto;
    border-radius:50px;
    
}
.hinhst2{
    display:flex;
    justify-content:space-between;
}
.chutrangtri3{
    
    border-right: 10px solid transparent;
}

.st::before,.CP::before,.LAP::before,
{
content:url('callary-icon.png');
}
.st::after,.CP::after,.LAP::after,
{
    content:url('callary-icon.png');
    }
.hinhtrang{
   
    position:relative;
}
.chuc-clr{
    display:flex;
}
.callary{
    font-weight: 200;

    }
.lienhe1{
    text-align: center;
}
.chuc{
    margin-right: 2px;
    margin-top: 13px;
    width:20px;
    height:20px;
}
.end{
    display:flex;
    justify-content: space-around;
    text-align: center;
    justify-items: center;
}
.icong{
    
    display:flex;
    margin-right: 10px;
    margin-top: 15px;
   

   
}
.linkfb,.linkig,.linkx{
 padding-left:10px;
 
}
.chutrangtri1chuc-clr{
    margin-left: 20px;
}
.bg-discount {
    margin-top: 60px;
}


}

.contact-form{
    
   
}
.contact-form,.booking-form {
   background-color: #f5f4ef;
    background-repeat: no-repeat;
    background-size: 1520px 590px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}
.booking-form .form-group{
    text-align: center;
    margin-bottom: 15px;
}


.contact-form .form-group {
    text-align: center;
    margin-bottom: 15px;
}

.contact-form label,.booking-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.ndlh2{
    text-align: center;
}
.contact-form input, 
.contact-form textarea {
    width: 60%;
    padding: 10px;
    border: 3px solid#797979;
    border-radius: 9px;
    font-size: 20px;
    
    color: black ;
    box-sizing: border-box;
}
.booking-form input,
.booking-form textarea{
    width: 60%;
    padding: 10px;
    border: 3px solid#797979;
    border-radius: 9px;
    font-size: 20px;
    
    color: black ;
    box-sizing: border-box;

}

.contact-form textarea {
    resize: vertical;
    min-height: 100px;
}
.booking-form textarea{
    resize: vertical;
    min-height: 100px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color:#826618 ;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.booking-form button{
    width: 100%;
    padding: 10px;
    background-color:#826618 ;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.datlich-text{
    text-align: center;
}

.contact-form button:hover {
    background-color: #C69930}

.booking-form button:hover{
    background-color: #C69930;
}
iframe{
    
    margin-top: -50px;
}
.lhtv-text{

    margin-top: 0;
    text-align: center;
}
.lhtv-text::after,.lhtv-text::before{
    content:url('callary-icon.png')
}
.LAMOURPARFAIT{
    background-image:url(https://png.pngtree.com/background/20221104/original/pngtree-green-watercolor-background-with-leaves-ornament-picture-image_1944683.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.CRYSTALPARADISE{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220814/pngtree-hand-painted-watercolor-purple-pastel-background-image_1442143.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sweety{
    background-image:url(https://png.pngtree.com/background/20230112/original/pngtree-marble-pink-pastel-background-picture-image_2001458.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.lienhe{}
@-webkit-keyframes my {
	 0% { color: #F8CD0A; } 
	 50% { color: #fff;  } 
	 100% { color: #F8CD0A;  } 
 }
 @-moz-keyframes my { 
	 0% { color: #F8CD0A;  } 
	 50% { color: #fff;  }
	 100% { color: #F8CD0A;  } 
 }
 @-o-keyframes my { 
	 0% { color: #F8CD0A; } 
	 50% { color: #fff; } 
	 100% { color: #F8CD0A;  } 
 }
 @keyframes my { 
	 0% { color: #F8CD0A;  } 
	 50% { color: #fff;  }
	 100% { color: #F8CD0A;  } 
 } 
 .lhtv-text {
         
         font-size:24px;
         font-weight:bold;
	 -webkit-animation: my 700ms infinite;
	 -moz-animation: my 700ms infinite; 
	 -o-animation: my 700ms infinite; 
	 animation: my 700ms infinite;
}
.hinhbien{
    border-top: 25px solid white;
    width:100%;
    height:304px;
    display:block;
    box-sizing: border-box;
    background-image:url(newwwwwwwwwwwwwwww.png);
    background-size: 357px 304px;
    background-repeat: repeat-x;
    
}

 .slide{
    
    text-align: center;
 }
 .slide1{
    height:818px;
    text-align: center;
 }
 #anh{margin-top: 15PX;
    width:548.2px;
    height:373px;

 }
 #anh1{
    animation-name: fadeEffect;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    width:551px;
    height:447px;
 }
 @keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
 .anh1{
    height:600px;
    padding:120px 120px 0 120px;
    margin-top:-29x;
    background-image:url('9ae4fbc58cf83313c1f81c5e27468d01.jpg');
    background-size:46% 667px;
    background-repeat: no-repeat;
    background-position:center;
 }
.BEACH{
    
    background-image: url(background-gradient-dep_052411179.png);
    background-repeat: no-repeat;
    background-size: 100% 86.2%;
    
}
.LAMOURPARFAIT,.CRYSTALPARADISE,.sweety,.cdbien{
    margin-top: 50px;

}



.video-container {
    position: relative;
    width: 1518.800px;
    height:579px;
    margin: 0 auto; /* Canh giữa video */
    overflow: hidden;
}
.videouudai1,.videouudai2{
    display:flex;
    justify-content: center;
    
   
}
.clip1,
.video1,.video2{
    
    width: 450px;
    height:446px;
    

}
.uudai{
    width:100%;
    height:1100px;
}
.clip2{
    width: 450px;
    height:446px;
    padding-bottom: 50p;
    margin-top:50px;

}

.clip1:hover,.clip2:hover{
    transform:scale(1.05);
    transition:all 0.5s ease-in-out;
}

.video-container video {
    margin-top: -28px;
    width: 100%;
    height: auto;
    display: block;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.021); /* Lớp mờ mờ với màu đen */
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Không ảnh hưởng đến tương tác với video */
}

.video-text {
    font-weight: 2000;
    color:#ebb63a;
    font-size: 4em;
    text-align: center;
    z-index: 2;
}
#anh1{
    border:5px solid #EBB63A;
    border-radius: 50px;
}
.btn_container{

}
.khoanhkhac{
    
    
}
.polaroi{
    background-image: url(pngtree-polaroid-frame-with-heart-illustration-background-cute-style-png-image_8956876.png);
    background-size: 822px 470px;
    background-repeat: no-repeat;
}
.dsanhcuoi,.dsanhcuoi1{
    stop:10px;
    bottom:700px;
    right;
    left:82.5px;
    position:relative;
}
.hinhcuoi1{
    margin-top: 200px;
}
.hinhcuoi,.hinhcuoi1{
    margin-right: 56px;
    height:171px ;
    width:172px;
}
.khoanhkhac{
    
    margin-left: 303px;
    height:750px;
}
.title1{
    font-size: 21px;
}


/* Basic Menu Styling */
.danhsach {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-left: 132px;
}

.danhsach > li {
    position: relative;
    display: inline-block;
}

.danhsach > li > a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.danhsach > li > a:hover {
}

/* Submenu Styling */
.submenu {
    background-color: #E0D9D1;
    display: none;
    position: absolute;
    left:70%;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 114px;
    z-index: 1000;
}

.submenu li {
    position: relative;
}

.submenu li a {
    border:1px solid black;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #E0D9D1;
    color:rgb(160, 20, 20);
    font-weight: 550;
}

.submenu li a:hover {
    color:#C0890B;
    
    background:#450B20;}

/* Show Submenu on Hover */
.danhsach > li:hover > .submenu {
    display: block;
    background:#450B20;
    
    cursor:pointer;
    color:#C0890B;
}

.submenu li:hover > .submenu {
    background:#450B20;
    cursor:pointer;
    display: block;
    left: 100%;
    top: 0;
}
.uudai1text{
    margin-left: 50px;
}
.nduudai1{
    font-size: 17px;
    margin-left: 29px;
   margin-top: -23px;
}
.nduudai2{
    font-size: 17px;
}
.hinhuudai1{
    
    width:804px;
    height:533px;
}
.ndvahinh1{
    margin-left: 30px;
    display:flex;
    justify-items: space-around;
}

.title::after,.title1::after{
    content:"";
    background-image:url(pngtree-yellow-twinkling-stars-particle-vector-png-image_14713447.png) ;
    background-size: 300px 300px;
}
.datlich{
background-image: url(hinh-nen-hong-cam-loang-mau.jpg);
}
.datlich-text{
    
   
    background-image: url(pngtree-golden-gradient-book-now-sticker-design-free-vector-download-png-image_8701882.png);
    background-size:293px 170px;
    background-repeat: no-repeat;
    background-position: 116px ;
    
}

)






